/LeetCodeJava/LeetCodeJava/.gradle/
/LeetCodeJava/LeetCodeJava/build/
/LeetCodeJava/LeetCodeJava/gradle/wrapper/gradle-wrapper.properties
/LeetCodeJava/LeetCodeJava/gradle.properties
/LeetCodeJava/LeetCodeJava/build.gradle
/LeetCodeJava/LeetCodeJava/settings.gradle
/LeetCodeJava/LeetCodeJava/gradle/wrapper/gradle-wrapper.jar
/LeetCodeJava/LeetCodeJava/gradlew
/LeetCodeJava/LeetCodeJava/gradlew.bat